.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Arial', sans-serif;
  color: #4D4949;
  background-color: #EDF6D6;
}

h1, h3, h4 {
  font-family: monospace;
}

nav a.nav-link {
  font-weight: bold;
  color: #800000;
}

nav a.nav-link:hover {
  text-decoration: underline;
}
